__pycache__/
.env
.langgraph_api/
.venv
*.log
.ipynb_checkpoints/
venv/
.idea/
.DS_Store
*.db
.cache/
.tox/
.coverage
.hypothesis/
.mypy_cache/

data/temp/
data/temp-data/
data/temp/*.mp4
data/temp/*.mp3
data/temp/*.wav

#external/ai-models/
external/chess-modules/stockfish/
external/chess-modules/board_to_fen/saved_models/

notebooks/tools_poc/data/temp/
notebooks/tools_poc/*.pt

#*.pt  # Preserve pytorch models. Is there a more optimal way to load this model?
*.h5
*.ckpt
*.onnx
*.tflite
*.pb
*.sav
*.pkl
*.npy
*.npz
*.joblib

ms-playwright/
.playwright/
